<!-- This page is the first page a student user sees when they login -->
{% extends "layouts/base.html" %}
{% include "layouts/student-nav.html" %}

{% block title %}TSCT student{% endblock %}

{% block content %}
  <section>
    <!-- Greets user -->
    <h2>Hello <span class="greetingname">{{ g.user['first_name']}}!</span></h2>
  </section>

  <!-- Shows scheduling for classes -->
  {% if g.user %}
    <table>
      <thead>
        <tr>
          <th colspan="8">Schedule</th>
        </tr>
      </thead>
      {% for scheduling in courses %}
      <tbody>
        <td>{{ scheduling['course_name'] }}</td>
        <td>{{ scheduling['course_code'] }}</td>
        <td>{{ scheduling['session_name'] }}</td>
        <td>{{ scheduling['meeting_days'] }}</td>
        <td>{{ scheduling['meeting_time'] }}</td>
        <td>{{ scheduling['meeting_place'] }}</td>
        <form method="post">
          <td><button type="submit" name="session_id" value="{{ scheduling['id'] }}" formaction="{{ url_for('student.assignments') }}">Assignments</button></td>
          <td><button type="submit" name="session_id" value="{{ scheduling['id'] }}" formaction="{{ url_for('student.grades') }}">Grade</button></td>
        </form>
      </tbody>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}
