{% extends "layouts/base.html" %}
{% include 'layouts/student-nav.html' %}

{% block title %}TSCT student{% endblock %}

{% block content %}


  <section id="grade">
    {% if g.user %}

    <h3>{{ session_info['major'] }} {{ session_info['course_code'] }} {{ session_info['session_name'] }} {{session_info['course_name']}} </h3>
      <table>
        <thead>
          <tr>
            <th>Assignment name</th>
            <th>Points</th>
          </tr>
        </thead>
        {% for assignment in assignments %}
        <tbody>
          <td>{{ assignment['name'] }}</td>
          <td>{{ assignment['grades'] }}/{{ assignment['points'] }}</td>
        </tbody>
        {% endfor %}
      </table>
    {% endif %}
  </section>

{% endblock %}
