{% extends "layouts/base.html"  %}
{% include 'layouts/student-nav.html' %}

{% block title %}Assignments{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Assignment Name</th>
        <th>Due date</th>
        <th>Description</th>
        <th>Possible points</th>
      </tr>
    </thead>
    {% for assignment in assignments %}
      <tbody>
        <td>{{ assignment['name'] }}</td>
        <td>{{ assignment['due_date'] }}</td>
        <td> {{ assignment['description'] }}</td>
        <td> {{ assignment['points'] }}</td>
      </tbody>
    {% endfor %}
  </table>
{% endblock %}
